*{
	margin: 0px;
	padding: 0px;
}

body{
	overflow-x: hidden;
	transition: .5 ease-in;
	padding: 5px;
	animation: animasiAll 3s ease;
	font-family: 'Quicksand', sans-serif;
	max-width:710px;
	margin: auto;
	background-color: #eee;
}

/*Awal Header*/
header nav {
	padding: 15px;
	background-color: #02343f;
	right: 0px;
	left: 0px;
	display: flex;
	justify-content: space-evenly;
	position: fixed;
	z-index: 1;
	top: 0;
	font-family: 'Righteous', cursive;
	letter-spacing: 2px;
	max-width: 680px;
	margin: auto;
}
header nav h1{
	color: white;
}
/*Akhir header*/

/*Manu*/
header nav .menu{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 30px;
	cursor: pointer;
}
header nav .menu span{
	width: 28px;
	height: 3px;
	background-color: white;
	color: white;
	transition: .5s ease-out;
}
/*Akhir Menu*/

/*Awal-aside*/
aside{
	position: fixed;
	background-color: #f0edcc;
	bottom: 0px;
	left: 0px;
	top: 0px;
	z-index: 2;
	width: 190px;
	text-align: left;
	transition: 1s ease-in;
	transform: translateX(-100%);
	font-size: 1.6rem;
	padding: 15px;
} 
aside .my{
	margin:20px 0px;
	text-align: center;
}
aside ul li {
	list-style: none;
	margin-bottom: 20px;
	box-sizing: border-box;
	height: 40px;
}
aside ul li a {
	text-decoration: none;
	color:#02343f;
	font-family: 'Righteous', cursive;
	letter-spacing: 2px;
}
aside ul li a:hover{
	font-weight: bold;
	text-shadow: 5px 5px 10px green;
}
aside ul li:nth-child(1){
	font-weight: bold;
	text-shadow: 5px 5px 10px green;
}  
/*Akhir Aside*/

main
{
	margin-top: 60px;
	background-color: #fff;
}
main #content article{
	padding: 25px;
	text-align: justify;
}

main #content article .saya{
	margin-bottom: 10px;
}
main #content article .saya img{
	float: right;
	margin-left: 15px;
	margin-top: 13px;
	width: 27vw;
}
main #content article .saya h1{
	text-align: right;
	font-size: 42px;
	margin-bottom: 5px;
	text-shadow: 2px 2px 1px green;
}
main #content article .saya h2{
	text-align: right;
	font-size: 22px;
	margin-bottom: 5px;
	opacity: .7;
}
main #content article .saya h3{
	text-align: right;
	font-size: 22px;
	margin-bottom: 5px;
}
main #content article .hobby h1{
	font-size: 2rem;
	text-align: right;
}
main #content article .hobby h3{
	font-size: 1.6rem;
	text-align: left;
}
main #content article .hobby img{
	float: left;
	width: 37vw;
	box-shadow:  8px 8px 1px green ;
	margin-right: 18px;
	margin-bottom: 10px;
}
main #content article .hobby ul li{
	list-style: none;
}
main #content article .hobby ul li:nth-child(4) h3 {
	list-style: none;
	text-align: right;
}
main #content article .hobby ul li:nth-child(4){
	margin-top: 3px;
}
main #content article .projects {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 12px;
}
main #content article .projects img {
	max-width: 75vw;
	margin-bottom: 15px;
}
main #content article .projects .project-1 h2{
	text-align: left;
	font-size: 15px;
}
main #content article .projects .project-1 a{
	text-decoration: none;
	font-size: 12px;
	display: block;
	margin-bottom: 12px;
	color: black;
	opacity: .8;
}
main #content article .projects .project-2 h2{
	margin-top: 7px;
	text-align: left;
	font-size: 15px;
}
main #content article .projects .project-2 a{
	text-decoration: none;
	font-size: 12px;
	display: block;
	margin-bottom: 12px;
	color: black;
	opacity: .8;
}
main #content article h1{
	font-size: 2rem;
	text-align: center;
	display: block;
	margin-bottom: 10px;
}
main #content article .skill h1{
	font-size: 2rem;
	text-align: center;
	margin-top: 10px;
}
main #content article .skill .content{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.contact a{
	text-decoration: none;
}
.contact p{
	font-size: 25px;
	text-align: center;
}
.contact a img{
	width: 45px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 999px;
}
.contact img:hover{
	transform: scale(1.2);
	transition: 1s ease;
}
/*Animation*/
@keyFrames animasiAll{
	0%{	
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

/*DOM CSS*/
.satu{
	transform:rotate(45deg) translate(1px,1px);
	transform-origin: 0 0;
}
.dua{
	transform: scale(0);
}
.tiga{
	transform:rotate(-45deg) translate(-1px,0);
	transform-origin: 0 100%;
}
.hide{
	transform: translateX(0%);
}
/*media query tablet*/
@media(min-width: 575px)
{
	main #content article .saya img
	{
	width: 150px;
	}
	main #content article .hobby img
	{
	width: 200px;
	}
	main #content article .projects img {
	max-width: 300px;
	margin-bottom: 15px;
	}
}
